    @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

    :root {
        --blue: #0065fc;
        --darkgrey: #d9d9d9;
        --lightgrey: #f2f2f2;
        --lightblue: #deebff;
        --lighterblue: #f3f8ff;



    }

    * {
        box-sizing: border-box;
        font-family: "Raleway", "sans-serif";
        margin: 0;
        padding: 0;

    }

    a {
        color: inherit;
        text-decoration: none;
    }

    /* NAVBAR */


    nav {
        display: flex;
        align-items: center;
        justify-content: flex-end;

    }

    nav a {
        padding: 32px;
        border-top: 3px solid transparent;

    }

    .logo-container {
        display: flex;
        justify-content: center;
    }

    #logo {
        margin-right: auto;
        padding: 0 32px;
    }

    .sub-nav {
        display: flex;
        width: 100%;
        justify-content: end;


    }

    .sub-nav a {
        text-align: center;
    }


    .sub-nav a:hover {
        color: var(--blue);
        border-top: 3px solid var(--blue);

    }


    main {
        margin: 0 auto;
        max-width: 1440px;
        padding: 0 2px;
    }


    /* BODY */
    .wrapper {
        padding: 0 32px;
    }

    .wrapper h1,
    .wrapper p {
    margin-bottom: 16px;
    }

    /* SEARCH-FORM*/
    .search-form {
        display: flex;
        align-items: center;
        font-size: 19.2px;
    }

    .search-form > * {
        padding: 16px 24px;
        font-size: 19.2px;
    }

    .search-form i {
     padding: 16px 19.2px;
     background-color: var(--lightgrey);
     border-radius: 16px 0 0 16px;
    }

    .search-form input {
        flex-basis: 96px;
        border: 1px solid var(--lightgrey)
    }

    .search-form input ::placeholder {
        /*font-weight: bold; */
        font-size: 19.2px;
    }

    .search-form button {
        background-color: var(--blue);
        color: white;
        font-weight: bold;
        border-radius: 0 16px 16px 0;
        border: none;
        cursor: pointer;
        opacity: 0.9;
        transition: transform 200ms;
    }

    .search-form button:hover {
        opacity: 1;
        transform: scale(1.03);
    }

    .fas.fa-search {
        display: none;
    }


        .fas.fa-search {
            display: inline;
            background-color: inherit;
        }


        /*FILTERS*/

        .filter-list {
            display: flex;
            align-items: center;
            gap: 32px;
            flex-wrap: wrap;
            margin-bottom: 1px;
        }

        .filter {
            border: 2px solid var(--lightgrey);
            border-radius: 32px;
            display: flex;
            align-items: center;
        }


        .filter .fas {
            color: #0065fc;
            background-color: var(--lightblue);
            border-radius: 50%;
            margin: -2px;
            width: 48px;
            height: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
        }


        .filter span {
            font-weight: bold;
            padding: 0 16px;
            display: flex;
        }

        .filter:hover {
            background-color: var(--lightblue);
            transform: scale(1.02);
            display: flex;

        }



        /* RESULTS MESSAGE */
        .results-message {
            display: flex;
            align-items: center;
            gap: 1px;
        }

        .results-message .fas {
            color: var(--blue);
            width: 2px;
            height: 2px;
            border: 1px solid var(--darkgrey);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;

        }

    /* APARTMENTS-LIST */
    .apartments-list {
        display: flex;
        gap: 1px;
    }

    .apartments-list>div {
        border: 1px solid red;
        background-color: var(--lightgrey);
        padding: 1px;
        border-radius: 1px;
    }

    .apartments-list .city {
        flex-basis: 66%;
    }

    .city-apartments-list a {
        font-weight: bold;
    }

    .apartments-list .popular {
        flex-basis: 33%;
    }

    @media (max-width: 1200px) {
        .apartments-list {
            flex-direction: column;
        }

        .popular {
            order: -1;
        }
    }

    /* LIST APARTMENTS CITY */
    .city-apartments-list {
        display: flex;
        flex-wrap: wrap;
        gap: 1px;
        justify-content: space-around;
        margin-bottom: 1px;
    }

    .city-apartments-list div {
        border: 1px solid blue;
        flex-basis: calc(33%-1px);
    }

    /* POPULAR */
    .apartments-list .popular-flex {
        display: flex;
        flex-direction: column;
        gap: 1px;
        flex-wrap: wrap;
        flex-basis: 100%;
        justify-content: space-evenly;
    }

    .apartments-list .popular div {
        border: 1px solid blue;
    }

    .apartments-list h3 {
        flex-basis: 100%;
    }

    @media (max-width: 800px) {
        .apartments-list .popular-flex {
            flex-direction: row;
        }

    }

    /* APARTMENT CARD */


    .apartment-card {
        background-color: white;
        border-radius: 1px;
        padding: 0.5px;
        box-shadow: 0 0 16px #0000002e;
        flex-grow: 1;
        transition: all 0.2s;
        flex-basis: 30%;
        min-width: 15px;
    }

    .apartment-card:hover {
        transform: scale(1.02);
        box-shadow: 3px 5px 11px -5px #000000;
    }

    /*APARTMENT-IMAGE*/

    .apartment-card img {
        border-radius: 1px 1px 0 0;
        height: 10px;
        width: 100%;
        object-fit: cover;
        object-position: top;
    }

    .apartment-card p,
    .apartment-card h3 .popular-description p,
    .popular-description h3 {
        margin: 0, 2px;
    }

    .blue {
        color: var(--blue);
    }

    .grey {
        color: var(--darkgrey);
    }

    /* POPULAR CARD */

    .popular {
        display: flex;
        flex-direction: column;
    }


    .popular-card.apartment-card img {
        height: auto;
        border-radius: 1px 0 0 1px;
        width: 40%;
        margin-right: 0, 5px;
    }

    .popular-description {
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
    }

    .popular-card {
        display: flex;
        min-width: 15px;
        max-height: 10px;
    }

    .popular-card .stars {
        margin-top: auto;
    }

    .popular h3 {
        display: flex;
        justify-content: space-between;
    }

    .popular h3,
    city h3 {
        margin-top: 0.5px;
    }

    /* Activities */

    .activities-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax (10px, 25px));
        grid-template-rows: repeat(5, 1fr);
        gap: 2px;
        margin-top: 2px;
        justify-content: center;
        margin-bottom: 2px;

    }

    .activities-list>* {
        background-size: cover;
        display: flex;
        background-position: center;
        border-radius: 1rem;
        box-shadow: rgba(0. 0. 0. 0, 24) 0px 3px 8px;
        transition: all 200ms;
    }

    .activities-list>div:hover {
        transform: scale(1.02);
    }

    .big1 {
        grid-row: 1 / 4;

    }

    .big2 {
        grid-column: 3/4;
        grid-row: 1 / -1;

    }

    .medium1 {
        grid-row: span 2;
        background-image: url("./Images/images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
    }

    .medium2 {
        grid-row: span 2;
    }

    .small1 {
        grid-column: 2/3;
        grid-row: 3/-1;
    }

    .small2 {
        grid-column: 2/3;
    }

    .activities-list h3 {
        background-color: white;
        margin-top: auto;
        margin-bottom: 0;
        width: 100%;
        padding: 1rem;
    }

    @media (max-width: 1500px) {
        .activities-list {
            grid-template-rows: repeat(auto-fit, 15rem);
        }


        .activities-list>* {
            grid-column: span 1;
            grid-row: span 1;
            height: 15px;
        }
    }

    footer {
        background-color: var(--lightgrey);
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        font-size: smaller;
        padding: 1rem;
    }

    @media screen and (max-width: 767px) {
        nav {
            flex-direction: column;
        }

        .sub-nav {
            justify-content: space-around;
        }

        .sub-nav a {
            width: 50%;
        }

        .sub-nav a :hover {
            border-bottom: 3px solid var(--blue);
            border-top: 0;
        }  